// floating bar
@mixin float_right() {
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

@mixin float_left() {
  border-left-width: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

//---------
// BUTTONS
//---------

// suggested action button
@mixin suggested_button() {
  button.suggested-action {
    border-width: 1px;
    border-style: solid;
    border-radius: $button_radius;
    border-color: $theme_selected_bg_color;
    color: gtkmix($theme_selected_fg_color, $theme_selected_bg_color, 0.1);
    background-color: gtkmix($theme_selected_bg_color, $theme_selected_fg_color, 0.25);

    &:hover {
      border-color: gtkmix($theme_selected_bg_color, $theme_selected_fg_color, 0.2);
      background-color: gtkmix($theme_selected_bg_color, $theme_selected_fg_color, 0.2);
    }

    &:active, &:checked {
      border-color: gtkmix($theme_selected_bg_color, $theme_fg_color, 0.1);
      background-color: gtkmix($theme_selected_bg_color, $theme_fg_color, 0.1);

      &:backdrop {
        border-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_fg_color, 0.1);
        background-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_fg_color, 0.1);
      }
    }

    &:disabled {
      border-color: gtkmix($theme_selected_bg_color, $theme_disabled_bg_color, 0.2);
      color: gtkmix($theme_selected_fg_color, $theme_disabled_fg_color, 0.2);
      background-color: gtkmix($theme_selected_bg_color, $theme_disabled_bg_color, 0.2);

      &:backdrop {
        border-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_disabled_bg_color, 0.2);
        color: gtkmix($theme_unfocused_selected_fg_color, $theme_unfocused_disabled_fg_color, 0.2);
        background-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_disabled_bg_color, 0.2);
      }
    }

    &:backdrop {
      border-color: $theme_unfocused_selected_bg_color;
      color: $theme_unfocused_selected_fg_color;
      background-color: $theme_unfocused_selected_bg_color;
    }
  }
}

/* Deprecated */
// mixin for xbar buttons
@mixin xbar_buttons($bg, $fg) {
  & button {
    padding: 4px 8px;
    border-radius: $button_radius;
    border-color: gtkmix($bg, $fg, 0.1);
    color: $fg;
    background-color: gtkmix($bg, $fg, 0.1);

    &:hover {
      border-color: gtkmix($bg, $fg, 0.15);
      color: $fg;
      background-color: gtkmix($bg, $fg, 0.15);
    }

    &:active, &:checked {
      border-color: gtkshade($theme_selected_bg_color, 1.15);
      color: $theme_selected_fg_color;
      background-color: gtkshade($theme_selected_bg_color, 1.15);

      &:backdrop {
        border-color: gtkshade($theme_unfocused_selected_bg_color, 1.15);
        color: $theme_unfocused_selected_fg_color;
        background-color: gtkshade($theme_unfocused_selected_bg_color, 1.15);
      }
    }

    &:disabled {
      border-color: gtkmix($bg, $theme_disabled_bg_color, 0.1);
      color: $fg;
      background-color: gtkmix($bg, $theme_disabled_bg_color, 0.1);
      &:backdrop {
        border-color: $unfocused_borders;
        color: $theme_unfocused_disabled_fg_color;
        background-color: $theme_unfocused_disabled_bg_color;
      }
    }

    &:backdrop {
      border-color: $unfocused_borders;
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }
  }
}

@mixin buttons($bg, $fg, $border) {
  & {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: $button_radius;
    color: $fg;
    border-color: $border;
    background-color: $bg;

    &:hover {
      color: $fg;
      border-color: $border;
      background-color: shade($bg, 1.1);
    }

    &:active, &:checked {
      color: $fg;
      border-color: shade($border, 0.9);
      background-color: gtkshade($bg, 0.85);

      &:backdrop {
        color: $theme_unfocused_fg_color;
        border-color: gtkshade($theme_unfocused_bg_color, 0.85);
        background-color: gtkshade($theme_unfocused_bg_color, 0.85);
      }
    }

    &:disabled {
      color: gtkmix($fg, $theme_unfocused_disabled_fg_color, 0.1);
      border-color: gtkmix($bg, $theme_disabled_bg_color, 0.6);
      background-color: gtkmix($bg, $theme_disabled_bg_color, 0.1);
      &:backdrop {
        color: $theme_unfocused_disabled_fg_color;
        border-color: $unfocused_borders;
        background-color: $theme_unfocused_disabled_bg_color;
      }
    }

    &:backdrop {
      border-color: $unfocused_borders;
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }
  }
}

@mixin flat_buttons($bg, $fg, $border)
{
  & {
    border-color: transparent;
    border-radius: $button_radius;
    color: $fg;
    background-color: transparent;

    &:hover {
      border-color: $border;
      color: $fg;
      background-color: $bg;
    }

    &:active, &:checked {
      border-color: $selected_bg_color;
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      &:backdrop {
        border-color: $theme_unfocused_selected_bg_color;
        color: $theme_unfocused_selected_fg_color;
        background-color: $theme_unfocused_selected_bg_color;
      }
    }

    &:disabled {
      border-color: transparent;
      color: gtkalpha($fg, 0.8);
      background-color: transparent;
      &:backdrop {
        border-color: transparent;
        color: gtkalpha($fg, 0.7);
        background-color: transparent;
      }
    }

    &:backdrop {
      color: $theme_unfocused_fg_color;
    }
  }
}

@mixin headerbar_buttons($bg, $fg, $border)
{
  & {
    border-color: transparent;
    border-radius: $button_radius;
    color: $fg;
    background-color: transparent;

    &:hover {
      border-color: $border;
      color: $fg;
      background-color: $bg;
    }

    &:active, &:checked {
      border-color: $selected_bg_color;
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      &:backdrop {
        border-color: $theme_unfocused_selected_bg_color;
        color: $theme_unfocused_selected_fg_color;
        background-color: $theme_unfocused_selected_bg_color;
      }
    }

    &:disabled {
      border-color: transparent;
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
      &:backdrop {
        border-color: transparent;
        color: $disabled_fg_color;
        background-color: transparent;
      }
    }

    &:backdrop {
      border-color: transparent;
      color: $theme_unfocused_fg_color;
    }
  }
}
