// Based on mint-y SASS structure

$base_color: #1f1f1f;
$text_color: #ffffff;
$bg_color: #484848;
$fg_color: #ffffff;

$selected_fg_color: #ffffff;
$selected_bg_color: #1D8ECE;

$borders_color: darken($bg_color, 0.9);

$separator_color: darken($bg_color, 4%);

$link_color: $selected_bg_color;

$warning_color: #F27835;
$error_color: #FC4138;
$destructive_color: #F04A50;

$insensitive_fg_color: transparentize($fg_color, 0.55);

$tooltip_bg_color: $bg_color;
$tooltip_fg_color: $fg_color;
$tooltip_border_color: $borders_color;

$osd_fg_color: #ffffff;
$osd_bg_color: #484848;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 20%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);

$panel_bg: #484848;
$panel_fg: #fffFFF;

$entry_bg: $base_color;
$entry_border: $borders_color;

$button_bg: lighten($base_color, 2%);
$button_border: $borders_color;
