// Based on mint-y SASS structure

$base_color: #1f1f1f;
$text_color: #ffffff;
$bg_color: #484848;
$fg_color: #ffffff;

$selected_fg_color: #ffffff;
$selected_bg_color: #1D8ECE;
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: darken($bg_color, 0.9);
$link_color: $selected_bg_color;
$link_visited_color: darken($selected_bg_color,20%);

$warning_color: #F27835;
$error_color: #FC4138;
$success_color: #73d216;
$destructive_color: #F04A50;
$suggested_color: #4DADD4;

//insensitive state derived colors
$insensitive_fg_color: transparentize($fg_color, 0.55);
$insensitive_bg_color: lighten($bg_color, 2%);

$tooltip_bg_color: #fbeaa0;
$tooltip_fg_color: #4a4a4a;
$tooltip_border_color: #d0d0d0;

$osd_fg_color: #ffffff;
$osd_bg_color: #484848;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 20%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(black, 0.3);

$panel_bg: #2f2f2f;
$panel_fg: #fffFFF;

$entry_bg: $base_color;
$entry_border: $borders_color;

$button_bg: lighten($base_color, 2%);
$button_border: $borders_color;

/* The hell is this doing here?

//WM Buttons

// Close
$wm_button_close_bg: if($variant == 'light' and $darker == 'false', #f46067, #cc575d);
$wm_button_close_hover_bg: if($variant == 'light' and $darker == 'false', #f68086, #d7787d);
$wm_button_close_active_bg: if($variant == 'light' and $darker == 'false', #f13039, #be3841);

$wm_icon_close_bg: if($variant == 'light' and $darker == 'false',#F8F8F9 , #2f343f);

// Minimize, Maximize
$wm_button_hover_bg: if($variant == 'light' and $darker == 'false', #fdfdfd, #454C5C);
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: if($variant == 'light' and $darker == 'false', #D1D3DA, #262932);

$wm_icon_bg: if($variant == 'light' and $darker == 'false', #90949E, #90939B);
$wm_icon_unfocused_bg: if($variant == 'light' and $darker == 'false', #B6B8C0, #666A74);
$wm_icon_hover_bg: if($variant == 'light' and $darker == 'false', #7A7F8B, #C4C7CC);
$wm_icon_active_bg: $selected_fg_color;
*/
